@charset "UTF-8"
/* whole page---------------------- */
 
.header-container {
  margin: 0 130px;
}

a {text-decoration: none;}
img {max-width: 100%;}

/* header--------------------------- */
.logo {
  width: 250px;
  margin-top: 0;
  font-size: 0.75rem;
}
#logo-img {
  margin-left: 10px;

}
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
main-nav a {
  color: #432;
}
.main-nav a:hover {
  color: #0db;
}
.page-header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 3%;
}

/* main---------------------------------- */
.h4-wrapper {
  text-align: center;
  background-color:#ffe14d;
  padding: 1px;
  margin-top: 5px;
}
.article-wrapper {
  flex-wrap: wrap;
  width: 600px;
  padding: 0 4%;
}
.h1-wrapper {
  color: #21234d;
  font-size: 55px;
  padding: 0 5%;
  margin: 60px;
}
.h2-wrapper {
  font-size: 25px;
  color: #626262;
  padding: 0 5%;
  margin: 50px;
}
.napit {
  display: flex;

}

.nappi-1 {
  background-color:#ffe14d;
  padding: 18px 36px;
  color: #21234d;
  border-radius: 30px;
  font-size: 25px;
}
.nappi-2 {
  background-color: #7d408c;
  font-size: 25px;
  padding: 18px 36px;
  color: white;
  border-radius: 30px;
  margin-left: 10px;
  
}
.napit {
  margin-left: 130px;
}
.main-wrapper {
  width: 50%;
}
.hero {
  width: 50%;
}
#main-picture {
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
}